{% extends 'base.html' %}


{% block title %}
Добавление счетчика :: {{ block.super }}

{% endblock %}

{% block sidebar %}
{{ block.super }}
{% endblock %}


{% block content %}

<h1> Добавление счетчика </h1>
<div class="collapse-divider"></div>
<div class="row g-3">
    <div class="col">
        <div class="card-body">
            <div class="table-responsive">
                <form action="{% url 'add_counter' %}" method="post">
                    {% csrf_token %}
                    <!-- Table -->
                    <table class="table table-bordered border-primary">
                        <thead class="table-dark">
                            <td> </td>
                            <td>Наименование счетчика</td>
                            <td>Схема</td>
                            <td>Группа</td>
                            <td>Сетевой адрес</td>
                            <td>Зав.номер</td>
                            <td>Дата изг.</td>
                            <td>Класс точности по реакт</td>
                            <td>Класс точности по акт</td>
                            <td>Номинальное напряжение</td>
                            <td>Номинальный ток</td>
                            <td>Ku</td>
                            <td>Ki</td>
                            <td>Постоянная счетчика</td>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <!-- <a class="icon-link" type="submit" value="Добавить в БД" name="_addCounter">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                        </svg>
                                    </a> -->
                                    {% if {{ form.mode_edit }} == "add" %}
                                    <button type="submit" class="btn btn-sm btn-outline-secondary" value="Добавить в БД"
                                        name="_addCounter">+</button>
                                    {% elif {{ form.mode_edit }} == "update" %}
                                    <button type="submit" class="btn btn-sm btn-outline-secondary"
                                        value="отредактированть БД" name="_buttonSaveCounter">Запись<br /> в БД</button>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ form.name_counter_full }}
                                    <div class="invalid-feedback">
                                        {{ form.name_counter_full.errors }}
                                    </div>
                                </td>
                                <td>{{ form.schem }}
                                    <div class="invalid-feedback">
                                        {{ form.schem.errors }}
                                    </div>

                                </td>
                                <td>{{ form.group }}
                                    <div class="invalid-feedback">
                                        {{ form.group.errors }}
                                    </div>
                                </td>
                                <td>{{ form.net_adress }}
                                    <div class="invalid-feedback">
                                        {{ form.net_adress.errors }}
                                    </div>
                                </td>
                                <td>{{ form.manuf_number }}
                                    <div class="invalid-feedback">
                                        {{ form.manuf_number.errors }}
                                    </div>
                                </td>
                                <td>{{ form.manuf_data }}
                                    <div class="invalid-feedback">
                                        {{ form.manuf_data.errors }}
                                    </div>
                                </td>
                                <td>{{ form.klass_react }}
                                    <div class="invalid-feedback">
                                        {{ form.klass_react.errors }}
                                    </div>
                                </td>
                                <td>{{ form.klass_act }}
                                    <div class="invalid-feedback">
                                        {{ form.klass_act.errors }}
                                    </div>
                                </td>
                                <td>{{ form.nom_u }}
                                    <div class="invalid-feedback">
                                        {{ form.nom_u.errors }}
                                    </div>
                                </td>
                                <td>{{ form.nom_i }}
                                    <div class="invalid-feedback">
                                        {{ form.nom_i.errors }}
                                    </div>
                                </td>
                                <td>{{ form.ku }}
                                    <div class="invalid-feedback">
                                        {{ form.ku.errors }}
                                    </div>
                                </td>
                                <td>{{ form.ki }}
                                    <div class="invalid-feedback">
                                        {{ form.ki.errors }}
                                    </div>
                                </td>
                                <td>{{ form.koefA }}
                                    <div class="invalid-feedback">
                                        {{ form.koefA.errors }}
                                    </div>
                                </td>

                                <!-- <td>8</td> -->

                            </tr>

                        </tbody>
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="table-responsive">
        <!-- Table -->
        <table class="table table-bordered border-primary table-striped table-hover">
            <thead class="table-dark">
                <td>Наименование счетчика</td>
                <td>Схема</td>
                <td>Группа</td>
                <td>Сетевой адрес</td>
                <td>Зав.номер</td>
                <td>Дата изг.</td>
                <td>Класс точности по реакт</td>
                <td>Класс точности по акт</td>
                <td>Номинальное напряжение</td>
                <td>Номинальный ток</td>
                <td>Ku</td>
                <td>Ki</td>
                <td>Постоянная счетчика</td>
                <td>Время счетчика</td>
            </thead>
            {% for item in dbc %}
            <tr>
                <!-- <td rowspan="2" style="background-color:green;">1</td> -->
                <td>{{ item.name_counter_full }}</td>
                <td>{{ item.schem }}</td>
                <td>{{ item.group.name_group_full }} </td>
                <td>{{ item.net_adress }}</td>
                <td>{{ item.manuf_number }}</td>
                <td>{{ item.manuf_data }}</td>
                <td>{{ item.klass_react }}</td>
                <td>{{ item.klass_act }}</td>
                <td>{{ item.nom_u }}</td>
                <td>{{ item.nom_i }}</td>
                <td>{{ item.ku }}</td>
                <td>{{ item.ki }}</td>
                <td>{{ item.koefA }}</td>
                <td>{{ item.datetime }}</td>


            </tr>
            {% endfor %}
        </table>
    </div>
</div>






<!-- <button type="submit" class="btn btn-primary">Добавить счетчик</button> -->
<!-- </form> -->


{% endblock %}