
<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>A date range picker for Twitter Bootstrap</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static "css/daterangepicker.css" %}" />
    <script type="text/javascript" src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/sugar.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
  </head>
  <body>

    <div class="container">
      <div class="span12">

        <h4>Month/Year Dropdowns</h4>
        <div class="well">

           <form class="form-horizontal">
             <fieldset>
              <div class="control-group">
                <label class="control-label" for="reservation">Date range:</label>
                <div class="controls">
                 <div class="input-prepend">
                   <span class="add-on"><i class="icon-calendar"></i></span><input type="text" name="reservation" id="daterange" />
                 </div>
                </div>
              </div>
             </fieldset>
           </form>


           <script type="text/javascript">
           $(document).ready(function() {
              $('#daterange').daterangepicker(
                 {
                    minDate: '01/01/2023',
                    maxDate: '12/31/2023',
                    showDropdowns: true
                 }
              );

           });
           </script>

        </div>

        

      </div>
    </div>

  </body>
</html>