# created by virtualenv automatically
# *

### NetBeans template
modulVM/__pycache__
modulVM\__pycache__
Test_data/
Test_data\
venvVME1/
venvVME/
venvVMD/
other_data/
other_data\
DB/
DB\
Log/
Log\
remote\
remote/